@charset "UTF-8";

:root {
    --color-barnco: #f3f3f3;
    --color-yelloow: #f3c500;
    --color-green: #00612f;
    --color-green-fraco: #06aa48;
}

#main {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: 93vh 10vh;

    width: 58%;
    max-width: 80vw;
    height: 100%;
    margin: 3rem auto 0px 7.7rem;
    gap: 5px;
}

.aside-um {
 background-color: red;
}

.section {
    background-color: red;
}

.aside-dois {
    background-color: red;
}

section.veja-mais {
    background-color: var(--color-green-fraco);
    grid-column-start: 1;
    grid-column-end: 4;
    height: 52px;
    
    border-radius: 5px;
    box-shadow: inset 0px -2px 0px 0.5px rgba(0, 0, 0, 0.173);

    display: flex;
    align-items: center;
    justify-content: center;
}

section.veja-mais p {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;

}


