@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-01: #f3f3f3;
    --color-02:
}

body,
html {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    /* background-color: #f3c500; */
}

#header {
    height: 7.5rem;
    display: flex;
    padding: 0px .5rem ;
}

#header > .navegation {
    background-color: var(--color-01);
    display: flex;
    width: 100%;
    height: 38%;
    justify-content: space-between;
    align-items: center;
}

.navegation > .menu-um {
    display: flex;
    gap: 1rem;
}

.navegation > .menu-um > .li-um a {
    color: blue;
}

.navegation > .menu-um > .li-dois a {
    color: brown;
}

.navegation > .menu-um > .li-tres a {
    color: green;
}

.navegation > .menu-um > .li-quatro a {
    color: orange;
}

.navegation > .menu-um > .li-cinco a {
    color: red;
}

.navegation > .menu-dois {
    display: flex;
    margin: 0px;
    align-items: center;
    text-transform: uppercase;
    font-size: .8rem;
}

.navegation > .menu-dois > .li-um a {
    color: rgba(0,0, 0, 0.6);
    padding-right: 3rem;
}

.navegation > .menu-dois > .li-dois a {
    color: rgba(0, 0, 0, .7);
}

.menu-dois img {
    width: 2rem;
    border-radius: 50%;
}
