@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-barnco: #f3f3f3;
    --color-yelloow: #f3c500;
    --color-green: #00612f;
}

body,
html {
    width: 98vw;
    height: 100vh;
    font-family: Arial, sans-serif;
}


#header {
    display: flex;
    flex-direction: column;
    height: 7.5rem;
    width: 98.8vw;
    margin: auto;
}

#header > .navegation-um {
    background-color: var(--color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 38%;

    padding: 0px 2rem 0px 1rem;
}

.navegation-um > .menu-um {
    display: flex;
    gap: 1rem;
    font-weight: bold;
}

.navegation-um > .menu-um > .li-um a {
    color: blue;
}

.navegationum > .menu-um > .li-dois a {
    color: brown;
}

.navegation-um > .menu-um > .li-tres a {
    color: green;
}

.navegation-um > .menu-um > .li-quatro a {
    color: orange;
}

.navegation-um > .menu-um > .li-cinco a {
    color: red;
}

.navegation-um > .menu-dois {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .8rem;
}

.navegation-um > .menu-dois > .li-um a {
    color: rgba(0,0, 0, 0.6);
    padding-right: 3rem;
}

.navegation-um > .menu-dois > .li-dois a {
    color: rgba(0, 0, 0, .7);
}

.navegation-um > .menu-dois img {
    width: 2rem;
    border-radius: 25%;
    padding-right: 0.3rem;
    margin: 0px;
}

/* parte de baixo do header */

#header > .navegation-dois {
    background-color: var(--color-yelloow);
    color: var(--color-green);
    display: flex;
    justify-items: center;
    height: 100%;
    width: 100%;

    padding: 0px 2rem 0px 1rem;
}

#header > .navegation-dois .menu-dois {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navegation-dois .li-dois {
    height: 100%;
    font-size: 3rem;
    font-weight: bolder;
    padding-top: .5rem; 
}
