@charset "UTF-8";

@media (max-width: 650px) {
    .grid1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid1 > div:nth-child(n + 4) {
    display: block;
}

.grid1 > div.anuncio {
    grid-column: auto;
    grid-row: auto;
    order: -1;
} 
}

