@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body, html {
	width: 100vw;
	height: 100vh;
}

header#container {
	width: 100vw;
	height: auto;
}

#container-one {
	background-color: #f3f3f3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 45px;
}

.container-list {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.container-list li, a {
	text-decoration: none;
	list-style-type: none;
	font-size: 1em;
	font-weight: bolder;
}


.list-one a {
	color: #0669de;
	border-right: 3px solid rgba(128, 128, 128, 0.092);
}
.list-two a {
	color: brown;
	border-right: 3px solid rgba(128, 128, 128, 0.092);
}
.list-tree a {
	color: rgb(53, 187, 0);
	border-right: 3px solid rgba(128, 128, 128, 0.092);
}
.list-four a {
	color: orange;
	border-right: 3px solid rgba(128, 128, 128, 0.092);
}
.list-five a {
	color: red;
}

.container-list img {
	width: 30px;
	margin: 0px;
	border-radius: 5px;
	border: none;
	margin-left: 20px;
}

.ul-two a {
	color: gray;
	font-size: .8em;
	font-weight: normal;
}




#container-two {
	background-color: #f3c500;
	color: #00612f;
	width: 100vw;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#container-two p {
	font-size: 3em;
	font-weight: bolder;
	padding-bottom: 10px;

}

#container-two > span{
	display: flex;
	flex-direction: row;
	position: relative;
}

#container-two span p {
	display: inline-block;
	font-size: .7em;
	font-weight: 600;
	border-right: 1px dotted rgba(128, 128, 128, 0.773);
	border-width: .05cm;

	padding-right: 25px;
	margin-left: 20px;
	padding-top: 0px;
	padding-bottom: 0px;

	position: absolute;
	top: 15%;
	left: 0.75rem;
	
 }


.material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 900,
	'GRAD' 0,
	'opsz' 48;
	position: absolute;
	top: 0%;
	right: 23%;
}





