@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body, html {
	width: 100vw;
	height: 100vh;
}

header#container {
	width: 100vw;
	height: auto;
}

#container-one {
	background-color: #f3f3f3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 45px;
}

.container-list {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.container-list li, a {
	text-decoration: none;
	list-style-type: none;
	font-size: 1em;
	font-weight: bolder;
}

.list-one a {
	color: #0669de;
	border-right: 3px solid rgba(128, 128, 128, 0.092);
}
.list-two a {
	color: brown;
	border-right: 3px solid rgba(128, 128, 128, 0.092);
}
.list-tree a {
	color: rgb(53, 187, 0);
	border-right: 3px solid rgba(128, 128, 128, 0.092);
}
.list-four a {
	color: orange;
	border-right: 3px solid rgba(128, 128, 128, 0.092);
}
.list-five a {
	color: red;
}

.container-list img {
	width: 30px;
	margin: 0px;
	border-radius: 5px;
	border: none;
	margin-left: 20px;
}

.ul-two a {
	color: gray;
	font-size: .8em;
	font-weight: normal;
}

/*  */

#container-two {
	position: relative;
	background-color: #f3c500;
	color: #00612f;
	width: 100vw;
	height: 75px;
	display: flex;
	justify-content: space-between;
}

.section {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.section-one {
	display: flex;
	justify-content: start;
	width: auto;
	margin-right: 25px;
}


.section-two {
	display: flex;
	justify-content: start;
	width: 100%;
}


.section-tree {
	position: absolute;
	display: flex;
	justify-content: start;
	font-size: 2em;
	padding-bottom: 10px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.section-fuor {
	justify-content: end;
}

.section-fuor .campo {
	display: flex;
}

.section-fuor input {
	box-shadow: none;
	background-color: rgba(0,0,0,.15);
	border: none;
	border-radius: 5px;
	padding: 10px;
	height: 35px;
	width: 150px;
	
}

.section-fuor ::placeholder {
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 20px;
}

.section-fuor label {
	padding-top: 5px;
	font-size: .8em;
	width: 0px;
	z-index: 1;
}

.section-fuor .campo span {
	font-size: 2.2em;
	color: #ffff;
}






