@charset "UTF-8";

@media screen and (max-width: 775px) {
    #container-one {
        display: none;
    }

    #container-two {
        height: 50px;
        font-size: .8em;
    }
}

@media screen and (min-width: 1060px) {
    #container-one, #container-two {
        padding-left: 70px;
        padding-right: 90px;
        
    }
} 
