* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    font-size: 100%;
    /* background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%); */

    --color-font: #123123;
    --color-principal: #129150;
    --color-verde-amarelado: #999666;
    --color-verde-amarelado-forte: #242318; 
    --color-salmao: #f99666;
}
body {
    max-width: 80vw;
    margin: 0 auto;
    background: linear-gradient(to right, #123123 16.62%, #129150 85.61%); 
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.imagem-logo {
    height: 75px;
}

.cabecalho-menu {
    display: flex;
    gap: 5vw;
}

.cabecalho-menu .ancora {
    color: #daffec;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.conteudo {
    margin-top: 40px;
    
}

.rodape {
}



